<section class="side-navigation">
  <div class="side-navigation__navigation-links">
    <nav>
      <a routerLink="" routerLinkActive="active">
        <mat-icon
          aria-hidden="false"
          aria-label="home icon"
          fontIcon="home"
        ></mat-icon>
      </a>
      <a routerLink="">
        <mat-icon
          aria-hidden="false"
          aria-label="circle icon"
          fontIcon="add_circle"
        ></mat-icon>
      </a>
      <a routerLink="">
        <mat-icon
          aria-hidden="false"
          aria-label="folder icon"
          fontIcon="folder"
        ></mat-icon>
      </a>
      <a routerLink="">
        <mat-icon
          aria-hidden="false"
          aria-label="location_on"
          fontIcon="location_on"
        ></mat-icon>
      </a>
      <a routerLink="">
        <mat-icon
          aria-hidden="false"
          aria-label="download icon"
          fontIcon="download_done"
        ></mat-icon>
      </a>
      <a routerLink="">
        <mat-icon
          aria-hidden="false"
          aria-label="contacts icon"
          fontIcon="contacts"
        ></mat-icon>
      </a>
      <a routerLink="">
        <mat-icon
          aria-hidden="false"
          aria-label="more icon"
          fontIcon="more_horiz"
        ></mat-icon>
      </a>
    </nav>
  </div>
</section>
